<ion-content>
    <ion-toolbar class="height-padding-2">
        <ion-buttons slot="end">
            <ion-button class="follow-btn">Follow</ion-button>
        </ion-buttons>
    </ion-toolbar>
    <div class="row">
        <img class="avatar width-margin-2" src="https://avatars0.githubusercontent.com/u/13732623?s=460&v=4" />
        <div class="column">
            <app-heading class="bottom-margin-1" medium bold>Sean Perkins</app-heading>
            <app-text>Real life Tony Stark. Dev Expert. Angular Guru. HR Nightmare.</app-text>
        </div>
    </div>
    <div class="row top-margin-3 width-padding-2 stats">
        <div class="column text-center">
            <app-heading small bold>6.2k</app-heading>
            <app-text>Likes</app-text>
        </div>
        <div class="column text-center">
            <app-heading small bold>8.4k</app-heading>
            <app-text>Followers</app-text>
        </div>
        <div class="column text-center">
            <app-heading small bold>3.7k</app-heading>
            <app-text>Shots</app-text>
        </div>
        <div class="column text-center">
            <app-heading small bold>1.5k</app-heading>
            <app-text>Focus</app-text>
        </div>
    </div>
</ion-content>
