<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon name="home"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
            <ion-icon name="logo-ionic"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="tab3">
            <ion-icon name="briefcase"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="profile">
            <ion-icon name="person"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
