
:host {
    display: block;
}

.swiper-slide {
    width: 90px !important;
    height: 40px !important;
}

.country {
    width: 90px;
    height: 40px;
    border-radius: 12px;
    background-color: var(--ion-color-light-tint);
    color: var(--ion-color-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    &.active {
        background-color: var(--ion-color-primary-shade);
        color: var(--ion-color-light);
    }
}
